<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
-->
<form th:action="@{/board/insertPerfume}" method="post">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="#add8e6" th:text="향수이름" width="80"></td>
            <!--
                [클라이언트]name="title" 은 [서버]에서 데이터 매개변수를 받기 위한 변수명(key)
            -->
            <td><input name="perfumeName" type="text" size="50"></td>

        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="조향사" width="80"></td>
            <td><input name="perfumer" type="text" size="10"></td>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="노트그룹" width="80"></td>
            <td><textarea name="noteGroup" cols="50" rows="10"></textarea>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="노트" width="80"></td>
            <td><textarea name="note" cols="50" rows="10"></textarea>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="게시글 등록">
            </td>
        </tr>
    </table>
</form>
</body>
</html>