<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="/fragment/header :: head"></div>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <style>
        .container.px-4 {
            padding-top: 130px;
            padding-bottom: 100px;
        }
    </style>
</head>
<body>
<div th:replace="/fragment/nav :: top-nav"></div>
<div th:replace="/fragment/nav :: side-nav"></div>

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-5 gx-lg-5 align-items-center my-5">
        <div class="col-md-3">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
        </div>
        <div class="col-md-9">
            <h5 class="my-3">노트 그룹</h5>
            <h1 class="font-weight-light mb-5">노트 이름</h1>
            <p>노트 설명 This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        </div>
    </div>
</div>

<div th:replace="/fragment/footer :: footer"></div>
</body>
</html>