<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="/fragment/header :: head"></div>
    <style>
        .row {
            padding-top: 130px;
            padding-bottom: 100px;
            margin-right: 130px;
            margin-left: 130px;
        }

        .search-bar {
            padding-top: 150px;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (max-width: 800px) {
            .row, .search-bar {
                margin-left: 10px;
                margin-right: 10px;
            }

            .search-bar{
                width: auto;
            }
        }
    </style>
</head>
<body>
<div th:replace="/fragment/nav :: top-nav"></div>
<div th:replace="/fragment/nav :: side-nav"></div>
<form class="row mt-1 justify-content-center" th:action="@{/magazine/magazineList}" method="GET">
    <div class="col-lg-2 col-auto">
        <select class="form-select" th:type="text" name="category" th:value="${category}">
            <option value="#" selected disabled hidden>==검색 키워드 선택==</option>
            <option name="perfumeName" value="perfumeName">향수이름</option>
            <option name="brand" value="brand">브랜드</option>
        </select>
    </div>
    <div class="col-lg-3 col-auto">
        <div class="input-group">
            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="검색어 입력"
                   th:value="${keyword}">
            <button class="btn btn-primary" type="submit" id="s_button">검색</button>
        </div>
    </div>
</form>

<!--<form class="search-bar" action="" method="GET">-->
<!--    <div class="input-group mt-1">-->
<!--        <select class="form-select" th:type="text" name="category" th:value="${category}">-->
<!--            <option value="#" selected disabled hidden>==검색 키워드 선택==</option>-->
<!--            <option name="perfumeName" value="perfumeName">향수이름</option>-->
<!--            <option name="brand" value="brand">브랜드</option>-->
<!--        </select>-->
<!--        <input id="keyword" name="keyword" type="text" class="form-control" placeholder="검색어 입력"-->
<!--               th:value="${keyword}">-->
<!--        <button class="btn btn-primary" type="submit" id="s_button">검색</button>-->
<!--    </div>-->
<!--</form>-->
<!--a th:href="|/perfume/perfumeInfo/${perfume.perfumeName}|"-->

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 g-1 g-lg-5">
    <div class="col" th:each="perfume : ${perfumeList}">
        <a th:href="|/perfume/perfumeInfo/${perfume.perfumeName}|">
            <div class="card h-100 p-3">
                <img th:src="|/perfume_img/${perfume.img}|" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <span th:text="${perfume.perfumeName}"></span>
                    </h5>
                    <p class="card-text text-center" th:text="${perfume.brand}"></p>
                </div>
            </div>
        </a>
    </div>
</div>
<nav>
    <ul th:if="${!perfumeList.isEmpty()}" class="pagination justify-content-center">
        <li class="page-item" th:unless="${perfumeList.number == 0}">
            <a class="page-link" th:href="@{|?page=${(perfumeList.number)-1}|}">이전</a>
        </li>
        <li class="page-item" th:each="page : ${#numbers.sequence(0, (perfumeList.totalPages)-1)}"
            th:if="${page >= (perfumeList.number)-2 and page <= (perfumeList.number)+2}">
            <a class="page-link" th:text="${page}" th:href="@{|?page=${page}|}">1</a>
        </li>
        <li class="page-item" th:unless="${perfumeList.number == (perfumeList.totalPages)-1}">
            <a class="page-link" th:href="@{|?page=${(perfumeList.number)+1}|}">다음</a>
        </li>
    </ul>
</nav>

<div th:replace="/fragment/footer :: footer"></div>
</body>
</html>