<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title></title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <div th:replace="/fragment/header :: head"></div>
        <style>
            section {
                padding-top: 50px;
                padding-bottom: 100px;
            }



        </style>
    </head>
    <body>
    <div th:replace="/fragment/nav :: top-nav"></div>
    <div th:replace="/fragment/nav :: side-nav"></div>
<!--    src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"-->
    <!-- Product section-->
        <section>
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
<!--                    향수 이미지-->
                    <div class="col-md-4">
                        <img class="card-img-top mb-5 mb-md-0" id="imgAA" th:src="|/perfume_img/${perfumeInfo.img}|" alt="..." />
                    </div>
                    <div class="col-md-8">
<!--                        브랜드-->
                        <div class="small mb-3" th:text="${perfumeInfo.brand}">브랜드</div>
<!--                        향수 이름-->
                        <h1 class="display-6 fw-bolder my-5" th:text="${perfumeInfo.perfumeName}">향수 이름</h1>
<!--&lt;!&ndash;                        조향사?&ndash;&gt;-->
<!--                        <div class="fs-5 mb-5">-->
<!--                            <span>조향사 이름?</span>-->
<!--                        </div>-->
<!--                        Gender-->
                        <div class="small mb-3" th:text="${perfumeInfo.gender}">Gender</div>
                        <p class="lead" th:text="${perfumeInfo.article}">향수 설명</p>
<!--                        <div class="d-flex">-->
<!--                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />-->
<!--                            <button class="btn btn-outline-dark flex-shrink-0" type="button">-->
<!--                                <i class="bi-cart-fill me-1"></i>-->
<!--                                Add to cart-->
<!--                            </button>-->
<!--                        </div>-->
                    </div>
                </div>

                <h2 class="mt-5 fw-bold" >조향사</h2>
                <hr>
<!--                조향사-->
                <div class="row gx-5 py-5">
                    <div class="col-lg-3 col-5 mb-5 mb-lg-0" th:each="perfumer :${perfumerList}">
                        <h2 class="h4 text-center" th:text="${perfumer.perfumer}">조향사 이름</h2>
                    </div>


<!--                    <div class="col-lg-3 col-5 mb-5 mb-lg-0">-->
<!--                        <h2 class="h4 text-center">조향사 이름</h2>-->
<!--                    </div>-->
                </div>

                <h2 class="mt-5 fw-bold">노트</h2>
                <hr>
                <div class="mb-5">
                    <h3 class="text-center mt-5">top note</h3>
                    <div class="d-flex justify-content-center" >
                        <a th:href="|/perfume/note/${top.note}|" class="m-2" th:each="top : ${perfumeTop}">
                            <span th:text="${top.note}">베르가못</span>
                        </a>
                    </div>

                    <h3 class="text-center mt-5">middle note</h3>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="m-2" th:each="middle : ${perfumeMiddle}">
                            <span th:text="${middle.note}">베르가못</span>
                        </a>
                    </div>

                    <h3 class="text-center mt-5" >base note</h3>
                    <div class="d-flex justify-content-center" >
                        <a href="#" class="m-2" th:each="base : ${perfumeBase}">
                            <span th:text="${base.note}">베르가못</span>
                        </a>
                    </div>z
<!--                그래프??ㅠㅠ?-->
                <hr>
                <div>

                </div>
            </div>
        </section>
    <div th:replace="/fragment/footer :: footer"></div>

<!--    &lt;!&ndash; Bootstrap core JS&ndash;&gt;-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--        &lt;!&ndash; Core theme JS&ndash;&gt;-->
<!--        <script src="js/scripts.js"></script>-->
    </body>
</html>
