<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

</head>
<body>
<!--향수 검색-->
<!--<form th:action="@{/perfume/perfumeList}" method="post">-->
<table class="table table-hover">
    <tr>
        <th>게시글 번호</th>
        <th style="width:50%">제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>조회수</th>
    </tr>
    <tr th:each="perfume : ${perfumeList}">
        <td th:text="${perfume.perfumeName}"></td>
        <td th:text="${perfume.brand}"></td>
    </tr>
</table>
<!--</form>-->



</body>
</html>