<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매거진 상세</title>
    <th:block th:replace="/fragment/header.html :: header"></th:block>
</head>
<body>
<form th:action="@{/magazine/updateMagazine}" method="POST">
    <input name="id" type="hidden" th:value="${magazine.id}">
    <table class="table-auto" border="1">
        <tr>
            <td bgcolor="#add8e6" th:text="번호" width="80"></td>
            <td th:text="${magazine.id}"></td>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="제목" width="80"></td>
            <td><input name="title" type="text" th:value="${magazine.title}"></td>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="작성자"></td>
            <td th:text="${magazine.writer}"></td>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="내용"></td>
            <td><textarea name="content" th:text="${magazine.content}" cols="40" rows="10"></textarea></td>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="등록일"></td>
            <td th:text="${magazine.createDate}"></td>
        </tr>
        <tr>
            <td bgcolor="#add8e6" th:text="조회수"></td>
            <td th:text="${magazine.views}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="매거진 수정">
            </td>
        </tr>
    </table>
</form>
<a th:href="@{/magazine/deleteMagazine(id=${magazine.id})}">글삭제</a>
<a th:href="@{/magazine/getMagazineList}">글목록</a>
<th:block th:replace="/fragment/footer.html :: footer"></th:block>
</body>
</html>