<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매거진 정보 결과</title>
    <th:block th:replace="/fragment/header02.html :: header"></th:block>
</head>
<body>
<h1>매거진정보</h1>
<table border="1">
    <tr>
        <td th:text="${magazine.title}"></td>
        <td th:text="${magazine.writer}"></td>
        <td th:text="${magazine.content}"></td>
    </tr>
</table>
<th:block th:replace="/fragment/footer02.html :: footer"></th:block>
</body>
</html>