<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매거진 찾기</title>
</head>
<body>
<form th:action="@{/magazine/selectMagazine}" method="post">
    <table border="1">
        <tr>
            <td th:text="title"></td>
            <td><input name="title" type="text"></td>
        </tr>
        <tr>
            <td th:text="writer"></td>
            <td><input name="writer" type="text"></td>
        </tr>
        <tr>
            <td th:text="content"></td>
            <td><input name="content" type="text"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="관리자찾기">
            </td>
        </tr>
    </table>
</form>
</body>
</html>