<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<style>-->
<!--    #mySidebar {-->
<!--        display: block;-->
<!--    }-->

<!--    .w3-sidebar {-->
<!--        margin-top: 0;-->
<!--    }-->
<!--</style>-->
<!-- Navbar (sit on top) -->
<div th:fragment="top-nav" class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="/" class="w3-bar-item w3-button w3-wide"><b>OPPU</b></a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <a href="/perfume/perfumeList" class="w3-bar-item w3-button">PERFUME</a>
            <a href="/board/boardList" class="w3-bar-item w3-button">COMMUNITY</a>
            <a href="/magazine/magazineList" class="w3-bar-item w3-button">MAGAZINE</a>
            <a href="/member/myPage" class="w3-bar-item w3-button">MY PAGE</a>
            <a th:href="@{/member/login}" sec:authorize="isAnonymous()" class="w3-bar-item w3-button">LOGIN</a>
            <a th:href="@{/member/logout}" sec:authorize="isAuthenticated()" class="w3-bar-item w3-button">LOGOUT</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script src="/js/fragment.js"></script>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav th:fragment="side-nav" class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-hide-medium w3-hide-large"
     style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="/perfume/perfumeList" onclick="w3_close()" class="w3-bar-item w3-button">PERFUME</a>
    <a href="/board/boardList" onclick="w3_close()" class="w3-bar-item w3-button">COMMUNITY</a>
    <a href="/magazine/magazineList" onclick="w3_close()" class="w3-bar-item w3-button">MAGAZINE</a>
    <a href="/member/myPage" onclick="w3_close()" class="w3-bar-item w3-button">MY PAGE</a>
    <a th:href="@{/member/login}" sec:authorize="isAnonymous()" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN</a>
    <a th:href="@{/member/logout}" sec:authorize="isAuthenticated()" onclick="w3_close()" class="w3-bar-item w3-button">LOGOUT</a>
    <script src="/js/fragment.js"></script>
</nav>

</html>