<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <div th:replace="fragment/header :: head"></div>
    <style>
        .container {
            padding-top: 150px;
            padding-bottom: 100px;
        }
        .container h1 {
            font-weight: bold;
            margin-bottom: 50px;
            color: #525252;
        }
        .container {
            width: 450px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div th:replace="/fragment/nav :: top-nav"></div>
<div th:replace="/fragment/nav :: side-nav"></div>
<div class="container">
    <h1>마이페이지</h1>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>가입일</th>
            <td th:text="${#temporals.format(member.createDate, 'yyyy-MM-dd HH:mm')}">가입일 출력</td>
        </tr>
        <tr>
            <th>수정일</th>
            <td th:text="${#temporals.format(member.updateDate, 'yyyy-MM-dd HH:mm')}">수정일 출력</td>
        </tr>
        <tr>
            <th>아이디</th>
            <td th:text="${member.username}">아이디가 나옴</td>
        </tr>
        <tr>
            <th>닉네임</th>
            <td th:text="${member.nickname}">닉네임이 나옴</td>
        </tr>
        <tr>
            <th>이메일</th>
            <td th:text="${member.email}">이메일이 나옴</td>
        </tr>
        </tbody>
    </table>
    <div>
        <button onclick="location.href='/member/updateMember'" class="btn btn-primary" type="button">비밀번호 변경</button>
        <button href="#" class="btn btn-danger" type="button">탈퇴</button>
    </div>
</div>
<div th:replace="/fragment/footer :: footer"></div>
</body>
</html>