<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 목록</title>
</head>
<body>
    <h1>관리자 목록</h1>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>ID</th>
            <th>Email</th>
            <th>비밀번호</th>
            <th>닉네임</th>
            <th>권한</th>
        </tr>
        <tr th:each="admin :${adminList}">
            <td th:text="${admin.id}"></td>
            <td><a th:text="${admin.adminId}"></a></td>
            <td th:text="${admin.adminEmail}"></td>
            <td th:text="${admin.password}"></td>
            <td th:text="${admin.nickname}"></td>
            <td th:text="${admin.authorityYN}"></td>
            <td>
                <a th:href="@{/admin/getAdmin(id=${admin.id})}"><button>상세보기</button></a>
            </td>
            <td>
                <a th:href="@{/admin/deleteAdmin(id=${admin.id})}"><button>삭제하기</button></a>
            </td>
        </tr>
    </table>
<a th:href="@{/admin/insertAdmin}">관리자 등록</a>
<a th:href="@{/admin/selectAdmin}">관리자 찾기</a>
</body>
</html>