<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 상세보기</title>
</head>
<body>
    <h1>관리자 정보 상세보기</h1>
    <form th:action="@{/admin/updateAdmin}" method="POST">
        <input name="id" type="hidden" th:value="${admin.id}">
        <table border="1">
            <tr>
                <td th:text="번호"></td>
                <td th:text="${admin.id}"></td>
            </tr>
            <tr>
                <td th:text="adminId"></td>
                <td><input name="adminId" type="text" th:value="${admin.adminId}"></td>
            </tr>
            <tr>
                <td th:text="adminEmail"></td>
                <td><input name="adminEmail" type="text" th:value="${admin.adminEmail}"></td>
            </tr>
            <tr>
                <td th:text="password"></td>
                <td><input name="password" type="text" th:value="${admin.password}"></td>
            </tr>
            <tr>
                <td th:text="nickname"></td>
                <td><input name="nickname" type="text" th:value="${admin.nickname}"></td>
            </tr>
            <tr>
                <td th:text="authorityYN"></td>
                <td><input name="authorityYN" type="text" th:value="${admin.authorityYN}"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="관리자 정보수정">
                </td>
            </tr>
        </table>
    </form>
<a th:href="@{/magazine/selectMagazine(adminId=${admin.adminId})}">관리자 게시글 보기</a>
</body>
</html>