<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 가입</title>
</head>
<body>
<form th:action="@{/admin/insertAdmin}" method="POST">
    <table border="1">
        <tr>
            <td th:text="id"></td>
            <td><input name="adminId" type="text"></td>
        </tr>
        <tr>
            <td th:text="password"></td>
            <td><input name="password" type="text"></td>
        </tr>
        <tr>
            <td th:text="eamil"></td>
            <td><input name="adminEmail" type="text"></td>
        </tr>
        <tr>
            <td th:text="nickname"></td>
            <td><input name="nickname" type="text"></td>
        </tr>
        <tr>
            <td th:text="authorityYN"></td>
            <td><input name="authorityYN" type="text"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="관리자등록">
            </td>
        </tr>
    </table>
</form>
</body>
</html>