<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 찾기</title>
</head>
<body>
<form th:action="@{/admin/selectAdmin}" method="post">
    <table border="1">
        <tr>
            <td th:text="id"></td>
            <td><input name="adminId" type="text"></td>
        </tr>
        <tr>
            <td th:text="email"></td>
            <td><input name="adminEmail" type="text"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="관리자찾기">
            </td>
        </tr>
    </table>
</form>
</body>
</html>